.cartdetail {
  width: 20vh;
  border-radius: 2rem;
  border: solid 4px rgb(129, 124, 124);
  margin-top: 1rem;
  margin-left: 1rem;
}
.cartdetail_image {
  width: 100%;
  border-radius: 1.6rem 1.6rem 0rem 0rem;
}
.cartdetail_text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
a {
  text-decoration: none;
}
.button_form {
  margin: 10px 10px;
  padding: 5px;
  height: 5vh;
  color: white;
  background-color: rgb(129, 124, 124);
  border-radius: 10px;
}
.button_PageFom {
  margin: -5rem 1rem;
  padding: 5px;
  height: 5vh;
  color: white;
  background-color: rgb(129, 124, 124);
  border-radius: 10px;
}
