.email {
  color: #d5d2dd;
}
.password {
  color: #d5d2dd;
}
.containerConnect {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.containerC1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #d5d2dd;
  height: 40%;
}
.text-h2 {
  color: #d5d2dd;
}
